 <nav id="main-nav" class="sticky top-0 py-4 text-[#EDE8E1] bg-black/50 backdrop-blur-lg z-99">
    <div class="container mx-auto px-4 flex items-center justify-between">
      <div class="font-bold text-xl w-[20%]">
        <a href="index.html">
          <img src="/src/images/Attesa-svg-logo.svg" alt="Logo" class="inline-block w-30">
        </a>
      </div>
      <ul class="flex justify-center items-center space-x-6 w-[80%]">
        <li><a href="/about-us.html" class="p-2">About</a></li>
        <li><a href="/origins.html" class="p-2">Origins</a></li>
        <li><a href="/our-coffee.html" class="p-2">Our Coffee</a></li>
        <li class="relative group">
          <a href="#" class="p-2">Micro shop</a>

          <!-- Tooltip -->
          <div
            class="absolute left-1/2 -translate-x-1/2 top-full mt-2 w-max px-4 py-2 rounded-lg bg-[#f5eade] border border-[#BAAE9F] shadow-lg backdrop-blur-md text-sm text-[#3B3D34] opacity-0 group-hover:opacity-100 pointer-events-none group-hover:pointer-events-auto transition-opacity duration-200 z-50 whitespace-nowrap">
            <!-- Arrow -->
            <div
              class="absolute -top-1 left-1/2 -translate-x-1/2 w-2 h-2 rotate-45 bg-[#f5eade] border-t border-l border-[#BAAE9F]">
            </div>

            Smaller quantities of green coffee
          </div>
        </li>
        <!-- <li><a href="#" class="p-2">Insights</a></li> -->
        <li><a href="/contact.html" class="p-2">Contact</a></li>
      </ul>
      <div class="flex justify-end items-center text-base w-[20%]">
        <div class="flex items-center space-x-4">
          <!-- <a href="#" id="sign-in-btn"
            class="py-1 border text-[#EDE8E1] px-4 rounded-lg hover:bg-[#86A161] hover:border-[#648930]">
            Login
          </a>

          <a href="#"
            class="relative inline-block bg-brand-secondary text-[#EDE8E1] border brand-border px-4 py-1 pr-9 rounded-lg group transition-colors duration-200 hover:bg-brand-primary">
            Sign Up
            <div class="arrow-animation absolute top-1 right-2 w-4 h-4 leading-[1.4]"></div>
          </a> -->

          <a href="contact.html"
            class="relative inline-block bg-brand-secondary text-[#EDE8E1] border brand-border px-4 py-1 pr-9 rounded-lg group transition-colors duration-200 hover:bg-brand-primary">
            Contact
            <div class="arrow-animation absolute top-1 right-2 w-4 h-4 leading-[1.4]"></div>
          </a>

        </div>
      </div>
    </div>
  </nav>