
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Inter:wght@300;400;700&display=swap');

@import "tailwindcss";

@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Rethink Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    a {
        font-family: "Rethink Sans", sans-serif;
        font-style: normal;
    }
    body, p {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        color: #42453C;
    }
    .rethink-font {
        font-family: "Rethink Sans", sans-serif;
        font-style: normal;
    }
    .rethink-font p{
        font-family: "Rethink Sans", sans-serif;
        font-style: normal;
    }
    .inter-font {
        font-family: "Inter", sans-serif;
        font-style: normal;
    }

    .blog-content p {
        font-family: "Rethink Sans", sans-serif;
        font-style: normal;
    }
    .about-content p {
        font-family: "Rethink Sans", sans-serif;
        font-style: normal;
    }
}   

@layer theme {
  :root, :host {
    --color-black: #42453C !important;
  }
}

@layer components {
    .bg-brand-primary {
        @apply bg-[#F0EAE3];
    }
    .bg-brand-secondary {
        @apply bg-[#86A161];
    }
    .brand-border {
        @apply border-[#648930];
    }
    .text-brand-primary {
        @apply text-[#5A730F];
    }

    th, td {
        @apply border border-[#BAAE9F] px-4 py-2;
    }
    .link-with-icon::before {
        content: '';
        @apply inline-block w-4 h-4 mr-2 align-middle;
        background-image: url('/src/images/footer-link-icon.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .flag{
        @apply items-center;
    }
    .india-flag::before {
        content: '';
        @apply inline-block w-4 h-4 mr-2 align-middle;
        background-image: url('/src/images/flags/india.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .brazil-flag::before {
        content: '';
        @apply inline-block w-4 h-4 mr-2 align-middle;
        background-image: url('/src/images/flags/brazil.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .colombia-flag::before {
        content: '';
        @apply inline-block w-4 h-4 mr-2 align-middle;
        background-image: url('/src/images/flags/colombia.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .skyanimation {
        @apply relative;
    }
    .skyanimation::before {
        content: "";
        @apply absolute inset-0 -z-10;
        width: 100%;
        height: 100%;
        background-position: 0px 0px;
        background-size: 5600px;
        background-repeat: repeat-x;
        background-image: url('/src/images/clounds.png');
        animation: animatedCloudBackground 80s linear infinite;
    }
    @keyframes animatedCloudBackground {
        0% {
            background-position: 0px 0px;
        }
        100% {
            background-position: -4000px 0px;
        }
    }
    .origin-tbl td {
        @apply border-0 border-b border-[#BAAE9F];
    }
    .origin-tbl tr:last-child td {
        @apply border-0;
    }
    .origin-tbl tr td:first-child {
        @apply font-semibold;
        font-family: "Rethink Sans", sans-serif;
    }
    .contact-tbl td {
        @apply border-0 border-b border-[#BAAE9F];
        font-family: "Rethink Sans", sans-serif;
    }

}

@layer utilities{
    .container {
        @media (width >= 96rem) {
            max-width: 82rem !important;
        }
    }
}
