
@import "tailwindcss";

@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Rethink Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    a {
        font-family: "Rethink Sans", sans-serif;
        font-style: normal;
    }
    body, p {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 300;
        color: #42453C;
    }
}   

@layer theme {
  :root, :host {
    --color-black: #42453C !important;
  }
}

@layer components {
    .bg-brand-primary {
        @apply bg-[#F0EAE3];
    }
    .bg-brand-secondary {
        @apply bg-[#86A161];
    }
    .brand-border {
        @apply border-[#648930];
    }
    .text-brand-primary {
        @apply text-[#5A730F];
    }

    th, td {
        @apply border border-[#BAAE9F] px-4 py-2;
    }
    .link-with-icon::before {
        content: '';
        @apply inline-block w-4 h-4 mr-2 align-middle;
        background-image: url('/src/images/footer-link-icon.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .flag{
        @apply items-center;
    }
    .brazil-flag::before {
        content: '';
        @apply inline-block w-4 h-4 mr-2 align-middle;
        background-image: url('/src/images/flags/brazil.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .colombia-flag::before {
        content: '';
        @apply inline-block w-4 h-4 mr-2 align-middle;
        background-image: url('/src/images/flags/colombia.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .skyanimation {
        @apply relative;
    }
    .skyanimation::before {
        content: "";
        @apply absolute inset-0 -z-10;
        width: 100%;
        height: 100%;
        background-position: 0px 0px;
        background-size: 4000px;
        background-repeat: repeat-x;
        background-image: url('/src/images/banner-sky-min.png');
        animation: animatedCloudBackground 80s linear infinite;
    }
    @keyframes animatedCloudBackground {
        0% {
            background-position: 0px 0px;
        }
        100% {
            background-position: -4000px 0px;
        }
    }
}

@layer utilities{
    .container {
        @media (width >= 96rem) {
            max-width: 82rem !important;
        }
    }
}
